.center {
    text-align: center;
    border: 3px solid green;
  }

  .transformContainer{
    min-height: 70vh !important; 
   height: max-content !important;
   width: 100%;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);    
    height: 0vh;
    transition: 0.5s ease;
}